# AEMET open data

I have downloaded daily data from AMET open data and I need to change the format from json to csv

In [1]:
# It's not necessary that you have json2csv.py in PYTHONPATH directory, you simply can add it to run this script 
import sys
sys.path.append(r'C:\Users\solis\Documents\DEV\python3\meteoro\aemet\od_json2csv')
from json2csv import Json2csv 
import numpy as np
import pandas as pd

In [2]:
import inspect
print(inspect.getfullargspec(Json2csv))

FullArgSpec(args=['self', 'diri', 'fjson', 'fmetadata', 'sep'], varargs=None, varkw=None, defaults=(',',), kwonlyargs=[], kwonlydefaults=None, annotations={})

## Downloaded data

## Daily data

In [3]:
diri = r'E:\IGME20\20201215_aquifer\_data\aemet_od'  # directoy of data
json_files = ['9c35d43d_cartagena.txt', 'c538451b_san_javier.txt']  # json data files, all the file must be of the same type (structure)
fmetadata = r'E:\IGME20\20201215_aquifer\_data\aemet_od\metadata_day.json'  # metadata file of fis files

now you can run the script in the way below

In [4]:
for fi in json_files:
   Json2csv(diri, fi, fmetadata)

9c35d43d_cartagena.txt
ndata 609
c538451b_san_javier.txt
ndata 609

## Estaciones de Espa√±a en open data

Utilizando Json2csv puedo pasar a csv cualquier tipo de dato servido por aemet open data

In [5]:
diri = r'E:\IGME20\20201215_aquifer\_data\aemet_od'  # directoy of data
json_file = r'estaciones_od.json'  # estaciones
fmetadata = r'E:\IGME20\20201215_aquifer\_data\aemet_od\estaciones_od_metadata_json'  # metadata

In [6]:
Json2csv(diri, json_file, fmetadata, sep=';')

estaciones_od.json
ndata 291

Ahora voy extrae las estaciones que necesito, que con las que tienen identificador '7012C' (Cartagena) y
'7031X' (San vavier aeropuerto) para lo que voy a utilizar pandas

In [7]:
festaciones = r'E:\IGME20\20201215_aquifer\_data\aemet_od\estaciones_od.csv'
df = pd.read_csv(festaciones, sep=';', encoding='Latin1')

In [8]:
df.head()

,latitud,provincia,indicativo,altitud,nombre,indsinop,longitud
0,413515N,BARCELONA,0252D,74,ARENYS DE MAR,8186.0,023224E
1,411734N,BARCELONA,0076,4,BARCELONA AEROPUERTO,8181.0,020412E
2,412506N,BARCELONA,0200E,408,"BARCELONA, FABRA",NaN,020727E
3,412326N,BARCELONA,0201D,6,BARCELONA,8180.0,021200E
4,414312N,BARCELONA,0149X,291,MANRESA,8174.0,015025E

In [9]:
df.loc[df['indicativo'].isin(['7012C', '7031X'])]

,latitud,provincia,indicativo,altitud,nombre,indsinop,longitud
197,373604N,MURCIA,7012C,17,CARTAGENA,8434.0,005916W
202,374642N,MURCIA,7031X,4,SAN JAVIER AEROPUERTO,8433.0,004821W

In [10]:
from os.path import join
fo = join(diri, 'est_cartagena_san_javier.csv')
df.loc[df['indicativo'].isin(['7012C', '7031X'])]  # .to_csv(fo, index=False)

,latitud,provincia,indicativo,altitud,nombre,indsinop,longitud
197,373604N,MURCIA,7012C,17,CARTAGENA,8434.0,005916W
202,374642N,MURCIA,7031X,4,SAN JAVIER AEROPUERTO,8433.0,004821W

In [11]:
df.loc[df['indicativo'].isin(['7012C', '7031X'])].values

array([['373604N', 'MURCIA', '7012C', 17, 'CARTAGENA', 8434.0, '005916W'],
       ['374642N', 'MURCIA', '7031X', 4, 'SAN JAVIER AEROPUERTO', 8433.0,
        '004821W']], dtype=object)

Para calcular los punto situados a menor distancia de las 2 esaciones seleccionadas conozco 3 maneras
(puede haber m√°s)
1. Mediante un gis
2. Cargado los datos a una bddd espacial y ejectando las funciones de transformaci√≥n
3. Siguiendo el trabajo con python
Puesto que al final todos los csv que he ido generando los voy a cargar a una base de datos para sacar los gr√°ficos,
2 posiblemente sea el m√©todo m√°s eficiente si tienes unstalada una bdd espacial; sin embargo voy a seguir con python por 
si este no es el caso (opci√≥n 3)

Lo primero que tengo que hacer es cambiar las coordenadas de epsg 4258 a proyectadas en epsg 25830 , 
para lo que tengo que crear 2 nuevos campos en en dataframe y otro que indique el epsg de las proyectadas
(quiz√°s en el futuro tenga que cambiar el epsg de las estaciones situdas fuera del huso 30

In [12]:
import pyproj
sys.path.append(r'C:\Users\solis\Documents\DEV\python3\GIS\gis_utils')
import gis_utils

In [13]:
import pyproj as proj

In [14]:
# coordinates for the aemet stations Cartagena ans San Javir aeropuerto
gms = [['373604N', '005916W'],['374642N', '004821W']]
# coordinate reference system
crsg = 4258; crsp = 25830
xy = gis_utils.geographics2proyected(crsg, crsp, gms)
print(xy)

[[677629.8125, 4163462.5], [693232.25, 4183488.25]]

In [15]:
df['x'], df['y'], df['proj_epsg'] = [np.nan, np.nan, '25830']

In [16]:
df.columns

Index(['latitud', 'provincia', 'indicativo', 'altitud', 'nombre', 'indsinop',
       'longitud', 'x', 'y', 'proj_epsg'],
      dtype='object')

Voy a asignar las coordenadas proyectadas ara todas las estaciones open data, no s√≥lo las que
estrictamente necesito

In [ ]:
proj_epsg = '25830'
lat_log = [[df.iloc[i]['latitud'], df.iloc[i]['longitud']] for i in df.index]

#    xy = gis_utils.geographics2proyected(crsg, crsp, gms)
#    df.at[i, 'ifor'] = x